.elements-list {
  backface-visibility: hidden;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;

  &.active {
    pointer-events: none;
  }

  &:hover, &.active {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}